# 1. Ignore everything
/*

# 2. Re-include a selection:
# two specific directories
!/python/
!/pymacros/
# And the README file:
!README.md
!.gitignore
!.gitattributes
# Used to push only the production files to main branch from dev branch
!publish.sh
# Feature ideas:
!plan.md

# Except for 
**/__pycache__/*
**/*.pyc
python/testing/ParamSweep_old.py