# 1. Ignore everything
/*

# 2. Re-include the two specific directories
!/python/
!/pymacros/

# Except for 
python/__pycache__*
*.pyc
python/ParamSweep_old.py
python/fix.py

# 3. Re-include the .gitignore file itself (optional but recommended)
!.gitignore
!.gitattributes